<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tchip.carlauncher"
    android:sharedUserId="com.tchip"
    android:versionCode="2"
    android:versionName="2015.12.11-13:05" >

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="19" />

    <!-- <supports-screens android:anyDensity="false" /> -->

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" /> -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- <uses-permission android:name="android.permission.WRITE_APN_SETTINGS" /> -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- Launcher Permission -->
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />

    <application
        android:name="com.tchip.carlauncher.MyApplication"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="Car Launcher"
        android:largeHeap="true"
        android:theme="@android:style/Theme.Holo.Light" >

        <!-- 讯飞语音 -->
        <meta-data
            android:name="IFLYTEK_APPKEY"
            android:value="5531bef5" />
        <meta-data
            android:name="IFLYTEK_CHANNEL"
            android:value="Android_Demo" />
        <!-- 百度地图 -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="Tycks4ezX3hSXfRtu7TvCVTl" />

        <!-- 高德地图 -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="69c7e8fa468bf56893a7630e703dea11" />
        <meta-data
            android:name="android.app.default_searchable"
            android:value="com.tchip.carlauncher.fileexplorer.SearchActivity" />

        <activity
            android:name="com.tchip.carlauncher.ui.activity.MainActivity"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|fontScale"
            android:icon="@drawable/main_loading"
            android:label="CarLauncher"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:theme="@style/AppTranslucentThemeForMain" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tchip.carlauncher.ui.activity.OLMusicPlayActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.tchip.carlauncher.ui.activity.MagicActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.tchip.carlauncher.ui.activity.SettingGravityActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.tchip.carlauncher.ui.activity.BluetoothActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.tchip.carlauncher.bluetooth.ClientSocketActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.tchip.carlauncher.ui.activity.OfflineBaiduMapUpdateActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.tchip.carlauncher.bluetooth.DiscoveryActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.tchip.carlauncher.ui.activity.MultimediaActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.tchip.carlauncher.ui.activity.BluetoothDialerActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.tchip.carlauncher.ui.activity.ChatActivity"
            android:screenOrientation="landscape" />

        <!-- android:launchMode="singleTask" -->
        <activity
            android:name="com.tchip.carlauncher.ui.activity.SettingActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.tchip.carlauncher.ui.activity.SettingSystemDisplayActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.tchip.carlauncher.ui.activity.SettingSystemUsbActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.tchip.carlauncher.ui.activity.SettingSystemVolumeActivity"
            android:screenOrientation="landscape"
            android:theme="@style/ThemeVolumeDialog" />
        <activity
            android:name="com.tchip.carlauncher.ui.activity.FileRemoteControlActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.tchip.carlauncher.ui.activity.VideoListActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.tchip.carlauncher.ui.activity.FaceDetectActivity"
            android:screenOrientation="landscape" />

        <!-- User Center -->
        <activity
            android:name="com.tchip.carlauncher.ui.activity.UserCenterActivity"
            android:screenOrientation="landscape" />

        <!-- Traffic Stats 流量 -->
        <activity
            android:name="com.tchip.carlauncher.ui.activity.TrafficStatActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.tchip.carlauncher.ui.activity.TrafficChartActivity"
            android:label="应用详情"
            android:screenOrientation="landscape" />

        <!-- 蓝牙列表 -->
        <activity
            android:name="com.tchip.carlauncher.ui.activity.BluetoothListActivity"
            android:screenOrientation="landscape" />

        <provider
            android:name="com.tchip.carlauncher.model.DriveVideoProvider"
            android:authorities="com.tchip.carlauncher.model.DriveVideoProvider"
            android:exported="true" />

        <receiver android:name="com.tchip.carlauncher.model.CardEjectReceiver" >
            <intent-filter android:priority="2147483647" >
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.MEDIA_EJECT" />
                <action android:name="android.intent.action.MEDIA_BAD_REMOVAL" />
                <action android:name="android.intent.action.MEDIA_REMOVED" />
                <action android:name="android.intent.action.MEDIA_UNMOUNTED" />

                <data android:scheme="file" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.tchip.carlauncher.service.SpeakService"
            android:exported="true" />
        <service android:name="com.tchip.carlauncher.service.LocationService" />
        <service android:name="com.tchip.carlauncher.service.SensorWatchService" />
        <service android:name="com.tchip.carlauncher.service.SleepOnOffService" />
        <service android:name="com.tchip.carlauncher.service.FloatWindowService" />
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
            <intent-filter>
                <action android:name="com.baidu.location.service_v2.2" >
                </action>
            </intent-filter>
        </service>
    </application>

</manifest>