<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tchip.carlauncher"
    android:sharedUserId="com.tchip"
    android:versionCode="1"
    android:versionName="1.0" >

    <!-- <supports-screens android:anyDensity="false" /> -->

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" >
    </uses-permission>
    <!-- <uses-permission android:name="android.permission.WRITE_APN_SETTINGS"></uses-permission> -->
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" >
    </uses-permission>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <!-- SDK1.5需要android.permission.GET_TASKS权限判断本程序是否为当前运行的应用? -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CAMERA" >
    </uses-permission>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <!-- 来电消音 -->
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" >
    </uses-permission>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <!-- sd卡读写权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <!-- File Explorer Extra -->
    <!--
    <uses-permission android:name="android.permission.INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.DELETE_PACKAGES" />
    -->
    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="19" />

    <application
        android:name="com.tchip.carlauncher.MyApplication"
        android:icon="@drawable/ic_launcher"
        android:label="Car Launcher"
        android:theme="@android:style/Theme.Holo.Light" >

        <!-- 讯飞语音 -->
        <meta-data
            android:name="IFLYTEK_APPKEY"
            android:value="5531bef5" />
        <meta-data
            android:name="IFLYTEK_CHANNEL"
            android:value="Android_Demo" />
        <!-- 百度地图 -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="Tycks4ezX3hSXfRtu7TvCVTl" />

        <activity
            android:name="com.tchip.carlauncher.ui.MainActivity"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|fontScale"
            android:icon="@drawable/ic_launcher"
            android:label="Car Launcher"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tchip.carlauncher.ui.NearActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.tchip.carlauncher.ui.NearResultActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.tchip.carlauncher.ui.BluetoothActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.tchip.carlauncher.bluetooth.ClientSocketActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.tchip.carlauncher.bluetooth.DiscoveryActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.tchip.carlauncher.ui.MultimediaActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.tchip.carlauncher.ui.RoutePlanActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.tchip.carlauncher.ui.AboutActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.tchip.carlauncher.ui.ChatActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.tchip.carlauncher.ui.SettingActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.tchip.carlauncher.ui.RouteListActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.tchip.carlauncher.ui.RouteShowActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.tchip.carlauncher.ui.WeatherActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.tchip.carlauncher.ui.SettingSystemDisplayActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.tchip.carlauncher.ui.FileRemoteControlActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.tchip.carlauncher.ui.FaceDetectActivity"
            android:screenOrientation="landscape" />

        <meta-data
            android:name="android.app.default_searchable"
            android:value="com.tchip.carlauncher.fileexplorer.SearchActivity" />

        <service android:name="com.tchip.carlauncher.service.FTPServerService" />
        <service android:name="com.tchip.carlauncher.service.SpeakService" />
        <service android:name="com.tchip.carlauncher.service.LocationService" />
        <service android:name="com.tchip.carlauncher.service.WeatherService" />
        <service android:name="com.tchip.carlauncher.service.SensorWatchService" />
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
            <intent-filter>
                <action android:name="com.baidu.location.service_v2.2" >
                </action>
            </intent-filter>
        </service>
        <!-- Music -->

        <activity
            android:name="com.tchip.carlauncher.ui.MusicMainContentActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <activity
            android:name="com.tchip.carlauncher.ui.MusicMenuBackgroundActivity"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name="com.tchip.carlauncher.ui.MusicMenuScanActivity"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name="com.tchip.carlauncher.ui.MusicMenuSettingActivity"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name="com.tchip.carlauncher.ui.MusicPlayQueueActivity"
            android:launchMode="singleTop"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar" >
        </activity>
        <activity
            android:name="com.tchip.carlauncher.ui.MusicListSearchActivity"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateHidden" >
        </activity>

        <service android:name="com.tchip.carlauncher.service.MusicMediaService" >
            <intent-filter>
                <action android:name="com.tchip.carlauncher.music.service.MusicMediaService" />
            </intent-filter>
        </service>
    </application>

</manifest>